[run]
source = agent
omit = 
    tests/*
    */__pycache__/*
    */.venv/*
    */site-packages/*
parallel = True
branch = True

[report]
precision = 2
show_missing = True
skip_covered = False
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
    if TYPE_CHECKING:
    @abstractmethod
